:root {
  --bg: #121212;
  --surface: #1a1a1ae1;
  --text: #F0F0F0;
  --text-secondary: #A0A0A0;
  --accent: #FF4E8E;
  --accent-muted: #802747;
  --border: #3A3A3A
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg);
  color: var(--text);
  font-family: Inter, sans-serif;
  min-height: 100vh;
  font-size: 16px;
  display: flex;
  flex-direction: column;
}

button {
  cursor: pointer;
  padding: 10px 20px;
  border: none;
  font-size: 1.2em;
  color: #fff;
  border-radius: 7px;
  font-weight: 700;
  transition: 0.5s;
  transition-property: box-shadow;
  background: var(--accent);
  box-shadow: 0 0 25px var(--accent-muted);
  width: auto;
  height: auto;
}

button:hover {
  box-shadow: 0 0 5px var(--accent-muted),
    0 0 25px var(--accent-muted),
    0 0 50px var(--accent-muted);
}

button:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}

input {
  background: var(--surface);
  border: 1px solid var(--accent-muted);
  border-radius: 8px;
  padding: 10px 14px;
  color: var(--text-secondary);
  font-size: 1em;
  width: 100%;
  outline: none;
  transition: 0.3s;
  transition-property: border-color box-shadow;
}

input:hover,
input:focus {

  border-color: var(--accent-muted);
  box-shadow: 0 0 25px var(--accent-muted);
}

.site-header {
  background-color: var(--surface);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100vw;
  margin-bottom: 40px;
}

.header-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-app-name {
  font-size: 2em;
}

.header-app-name:hover {
  text-decoration: none;
}

.header-username {
  font-size: 1.3em;

}

.header-buttons {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: .8em;
}

.home-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(40px)
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.introduction-card,
.login-card,
.register-form,
.profile-card,
.popup-content,
.close-popup-button {
  animation-name: fadeUp;
  animation-duration: 0.7s;
  animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1); 
}

.introduction-card {
  width: 75vw;
  min-height: 50vh;
  padding: 30px;
  background-color: var(--surface);
  border-radius: 26px;
  border: 1px solid var(--border);
  box-shadow: rgba(0, 0, 0, 0.5) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.5) 0px 30px 60px -30px,
    rgba(0, 0, 0, 0.4) 0px -2px 6px 0px inset;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.title-header {
  font-size: 2em;
  font-weight: 600;
  color: var(--text);
  text-align: center;
}

.app-name {
  color: var(--accent);
}

.title-subtitle {
  font-size: 1.1em;
  font-weight: 500;
  color: var(--text-secondary);
  margin-bottom: 20px;
  text-align: center;
}

.features {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 20px 0px 20px 0px;
}

.feature-tab {
  color: var(--text);
  border-radius: 20px;
  padding: 5px;
  font-weight: 600;
  font-size: 1em;
  text-align: center;
  width: 85%;
    transition: 0.5s ease-in;
  transition-property: box-shadow background-color;
}

.feature-tab:hover {
  background-color: var(--accent-muted);
  box-shadow:
    0 0 20px var(--accent-muted);

}

.login-container,
.register-container,
.profile-container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-card,
.register-form,
.profile-card {
  width: 80vw;
  padding: 50px 40px 50px 40px;
  background-color: var(--surface);
  border-radius: 26px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.5) 0px 30px 60px -30px,
    rgba(0, 0, 0, 0.4) 0px -2px 6px 0px inset;
}

.login-title,
.register-title {
  font-size: 2.5em;
  font-weight: 600;
  color: var(--accent);
  margin-bottom: 15px;
  text-align: center;
  text-shadow: 0 0 5px var(--accent-muted),
    0 0 25px var(--accent-muted);
}

.email-field,
.password-field {
  font-size: 1.5em;
  font-weight: 500;
  color: var(--text-secondary);
  margin: 10px 0px 5px 0px;
}

.forgot-password {
  font-size: 1.1em;
  font-weight: 400;
  color: var(--text-secondary);
  margin: 20px 0px 20px 0px;
}

a {
  color: var(--accent);
  font-weight: 600;
  text-decoration: none;
}

.button-row {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.button-row button {
  flex: 1;
}

.btn-secondary {
  background: transparent;
  border: 1px solid var(--accent);
  color: var(--accent);
}

.error {
  color: #FF6B6B;
  font-size: 13px;
}

.registration-input {
  font-size: 1.2em;
  margin-bottom: 20px;
}

.submit-button {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  font-size: 1.2em;
}

#song-list-page,
#song-detail-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.songs-header,
.sections-header {
  font-weight: 500;
  font-size: 2.5em;
  font-weight: 600;
  color: var(--text);
  margin-top: 60px;
  margin-bottom: 15px;
  text-align: center;
}

.song-form,
.section-form {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.song-form-fields {
  font-size: 1.3em;
  font-weight: 500;
  color: var(--text-secondary);
  margin: 10px 0px 5px 0px;
  
}

.create-button {
  margin-top: 20px;
}

.song-list,
.sections-list {
  min-width: 80vw;
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.4s ease, transform 0.4s ease;
  margin-top: 10px;
}

.song-info,
.section-info {
  background-color: var(--surface);
  border: 1px solid var(--border);
  border-radius: 10px;
  color: var(--text);
  font-size: 1.2em;
  padding: 20px 20px 20px 30px;
  margin-top: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;}

.song-info:hover,
.section-info:hover {
  transform: translateY(-3px);
  
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup-content {
  background-color: var(--surface);
  border-radius: 15px;
    border: 1px solid var(--border);

  padding: 20px;
  width: 25em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.5) 0px 30px 60px -30px,
    rgba(0, 0, 0, 0.4) 0px -2px 6px 0px inset;
}



.popup-song-info {
  font-size: 1.5em;
  margin-bottom: 20px;
}

.popup-options {
  display: flex;
  gap: 50px;
}

.close-popup-button {
  margin: 15px;
  font-size: 1em;
}

@starting-style {
  .song-list,
  .sections-list {
    opacity: 0;
    transform: translateY(-20px)
  }

  .song-info,
  .section-info {
    opacity: 0;
    transform: translateY(-20px)
  }
}

.delete-button {
  background: none;
  margin-left: auto;
  margin-right: 0;
  box-shadow: none;
}

.delete-button:hover {
  box-shadow: none;
}

.mastery {
  padding-left: 10px;
  font-weight: 400;
}

.practice-section {
  display: flex;
}

#video-container {
  width: 100%;
  aspect-ratio: 16 / 9;
  border-radius: 12px;
  overflow: hidden;
  background: #000;
}

#video-container iframe {
  width: 100% !important;
  height: 100% !important;
  display: block;
}


.reps {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.reps-label {
  display: flex;
  color: var(--text);
  font-size: 1.3em;
  align-items: center;
  font-weight: 700;
  margin-bottom: 10px;
}

.reps-input {
  width: 80px;
  margin-bottom: 10px;
}

select,
::picker(select) {
  appearance: base-select;
}

select {
  border: 1px solid var(--border);
  background: var(--bg);
  padding: 10px;
  transition: 0.4s
}

select::picker-icon {
  color: var(--text-secondary);
  transition: 0.4s rotate;
}

select:open::picker-icon {
  rotate: 180deg;
}

::picker(select) {
  border: none;
}

option {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  background: var(--surface);
  padding: 10px;
  transition: 0.4s;
  color: var(--text)
}

option:first-of-type {
  border-radius: 8px 8px 0 0;
}

option:last-of-type {
  border-radius: 0 0 8px 8px;
}

::picker(select) {
  border-radius: 8px;
  transition: all 0.4s;
}

:open::picker(select) {
  opacity: 1;
}

@starting-style {
  :open::picker(select) {
    opacity: 0;
  }
}

option:not(option:last-of-type) {
  border-bottom: none;
}

option:hover,
option:focus {
  background: var(--bg);
}

option::checkmark {
  display: none;
}

option:checked {
  font-weight: bold;
}

.profile-container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-card {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}


.heatmap {
  margin-top: 50px;
}

@media screen and (min-width: 768px) and (max-width: 1239px) {

    .login-card,
    .register-form,
    .profile-card {
    max-width: 500px;
  }

  .practice-section .popup-content {
    min-width: 80vw;
    height: 80vh;
  }

  #video-container {
  width: 120%;
  aspect-ratio: 16 / 9;
  border-radius: 12px;
  overflow: hidden;
  background: #000;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

#video-container iframe {
  width: 100% !important;
  height: 100% !important;
  display: block;
}

.reps {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
}

@media screen and (min-width: 1240px) {
  .introduction-card {
    width: 50vw;
  }

  .introduction-card button {
    margin: 0 auto;
    width: 50%;
    font-size: 1.4em;
  }

  .title-header {
    font-size: 3em;
  }

  .features {
    font-size: 1.3em;
  }

  .login-card,
  .register-form,
  .profile-card {
    max-width: 500px;
  }

  .song-list {
    width: 50%;
  }

  .practice-section .popup-content {
    min-width: 90vw;
    height: 80vh;
  }

  .reps {
    flex-direction: row;
    gap: 10px;
  }

  #video-container {
  width: 150%;
  aspect-ratio: 16 / 9;
  border-radius: 12px;
  overflow: hidden;
  background: #000;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

#video-container iframe {
  width: 100% !important;
  height: 100% !important;
  display: block;
}
}